= link_to 'あたらしく登録する', new_feed_path
%br/
- @feeds.each do |feed|
  = feed.url
  = button_to "消す", feed, method: :delete
  = feed.title
/  = link_to "編集", edit_feed_path(feed)

%hr

%br/
- @items.each do |item|
  = item.feed.title
  = item.title
  %br/
  - if item.body
    = strip_tags(item.body.truncate(50))
    %br/
  = link_to "もっと読む", item_path(item)
  %br/
