!!!
%html
  %head
    %title RSS Reader!
  %body

.navbar.navbar-default
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", type: "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "#"} RSS Reader! 
  .navbar-collapse.collapse.navbar-responsive-collapse
    %ul.nav.navbar-nav
      %li.active
        %a{href: "#"} Active
      %li
        %a{href: "#"} Link
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          Dropdown
          %b.caret
        %ul.dropdown-menu
          %li
            %a{href: "#"} Action
          %li
            %a{href: "#"} Another action
          %li
            %a{href: "#"} Something else here
          %li.divider
          %li.dropdown-header Dropdown header
          %li
            %a{href: "#"} Separated link
          %li
            %a{href: "#"} One more separated link
    %form.navbar-form.navbar-left
      %input.form-control.col-lg-8{placeholder: "Search", type: "text"}/
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{href: "#"} Link
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          Dropdown
          %b.caret
        %ul.dropdown-menu
          %li
            %a{href: "#"} Action
          %li
            %a{href: "#"} Another action
          %li
            %a{href: "#"} Something else here
          %li.divider
          %li
            %a{href: "#"} Separated link

%button{:type => "button", :class => "btn btn-default"}= link_to 'add new site', new_feed_path

%h2 following site...
%br/
- @feeds.each do |feed|
  %h3= feed.title
  %h5= feed.url
  = link_to "delete", feed, method: :delete
  %br/
/  = link_to "編集", edit_feed_path(feed)

%hr

%h2 read items...
%br/
- @items.each do |item|
  %h3= item.feed.title
  %h4= item.title
  %br/
  - if item.body
    = strip_tags(item.body.truncate(200))
    %br/
  %button{:type => "button", :class => "btn btn-primary btn-sm"}= link_to "read more", item_path(item)
  %br/
