%side
  %h2 following site...
  - @feeds.each do |feed|
    .panel.panel-default
      .panel-heading
        %h3.panel-title= "#{feed.title} by #{feed.author}"
      .panel-body
        %h5= "Last Updated: #{Item.where(feed_id: feed.id).first.posted_at}"
        -if user_signed_in?
          = link_to "delete", feed, method: :delete
          = link_to "edit", edit_feed_path(feed)

%main
  %h2 read items...
  - @items.each do |item|
    .panel.panel-warning
      .panel-heading
        %h3.panel-title= "#{item.feed.title} by #{item.feed.author}"
      .panel-body
        %h4= item.title
        %p= strip_tags(item.body.to_s.truncate(200))
        = link_to "もとを見る", item.url, target: "_blank", class: 'btn btn-primary btn-sm'

  = paginate @items
