%h2= "#{@feed.title} by #{@feed.author}"
%hr
-@items.each do |item|
  .panel.panel-warning
    .panel-heading
      %h3.panel-title= item.title
    .panel-body
      %p= strip_tags(item.body.to_s.truncate(200))
    %p.text-right
      = link_to "もとを見る", item.url, target: "_blank"

= link_to "もどる", feeds_path
