!!!
%html
  %head
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    %title RSS Reader!
  %body
    .navbar.navbar-default
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", type: "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'RSS Reader!', root_path, class: 'navbar-brand'
      .navbar-collapse.collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav
          %li
            = link_to 'add new site', new_feed_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              select site
              %b.caret
            %ul.dropdown-menu
              %li
                - @feeds.each do |feed|
                  = link_to feed.title, feed
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: "#"} about

    - if notice
        %p.alert.alert-success= notice
    - if alert
        %p.alert.alert-danger= alert

    = yield

    = javascript_include_tag "application"
